numpy=1.26.4
Flask
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0.tar.gz
transformers
torch
xformers
Flask[async]
flask-cors
watchdog
watchmedo
streamlit
requests
networkx
pyvis
